# Data Ingestion

In [ ]:
import pandas as pd
import warnings
from functools import reduce
warnings.filterwarnings("ignore")

In [ ]:
# getting automatic reloading and inline plotting for the entire notebook
%reload_ext autoreload
%autoreload 2
%matplotlib inline
%reload_ext google.colab.data_table

Get IMDB ratings dataset

In [ ]:
df_ratings = pd.read_csv('/content/drive/MyDrive/Dataset/IMDB ratings/imdb_ratings.tsv', sep='\t',index_col=0)
df_ratings.head()

           averageRating  numVotes
tconst
tt0000001            5.7      1811
tt0000002            6.0       233
tt0000003            6.5      1563
tt0000004            6.0       152
tt0000005            6.2      2385

In [ ]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1182379 entries, tt0000001 to tt9916778
Data columns (total 2 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   averageRating  1182379 non-null  float64
 1   numVotes       1182379 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 27.1+ MB

In [ ]:
df_ratings.loc[df_ratings['column_name'] == some_value]

Get IMDB seasons dataset

In [ ]:
df_seasons = pd.read_csv('/content/drive/MyDrive/Dataset/IMDB ratings/imdb_seasons.tsv', sep='\t',index_col=0)
df_seasons.head()

          parentTconst seasonNumber episodeNumber
tconst
tt0020666   tt15180956            1             2
tt0021166   tt15180956            1             3
tt0021612   tt15180956            2             2
tt0021655   tt15180956            2             5
tt0021663   tt15180956            2             6

In [ ]:
df_seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6029786 entries, 0 to 6029785
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 184.0+ MB

In [ ]:
df_seasons_family_guy = df_seasons.loc[df_seasons['parentTconst'] == 'tt0182576']
df_seasons_family_guy.head()

          parentTconst seasonNumber episodeNumber
tconst
tt0576909    tt0182576            4             8
tt0576910    tt0182576            3            10
tt0576911    tt0182576            1             5
tt0576912    tt0182576            2            11
tt0576913    tt0182576            3            16

Get IMDB titles dataset

In [ ]:
df_titles_basic = pd.read_csv('/content/drive/MyDrive/Dataset/IMDB ratings/title_basics.tsv', sep='\t',index_col=0)
df_titles_basic.head()

          titleType  ...                    genres
tconst               ...
tt0000001     short  ...         Documentary,Short
tt0000002     short  ...           Animation,Short
tt0000003     short  ...  Animation,Comedy,Romance
tt0000004     short  ...           Animation,Short
tt0000005     short  ...              Comedy,Short

[5 rows x 8 columns]

In [ ]:
df_titles_basic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8224437 entries, tt0000001 to tt9916880
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   titleType       object
 1   primaryTitle    object
 2   originalTitle   object
 3   isAdult         object
 4   startYear       object
 5   endYear         object
 6   runtimeMinutes  object
 7   genres          object
dtypes: object(8)
memory usage: 884.7+ MB

ID for Family Guy:	tt0182576

In [ ]:
data_frames = [df_seasons_family_guy, df_ratings, df_titles_basic]

In [ ]:
df_family_guy = reduce(lambda  left,right: pd.merge(left,right,on=['tconst'],how='inner'), data_frames)

In [ ]:
df_family_guy.head()

          parentTconst seasonNumber  ... runtimeMinutes            genres
tconst                               ...
tt0576909    tt0182576            4  ...             22  Animation,Comedy
tt0576910    tt0182576            3  ...             23  Animation,Comedy
tt0576911    tt0182576            1  ...             30  Animation,Comedy
tt0576912    tt0182576            2  ...             30  Animation,Comedy
tt0576913    tt0182576            3  ...             30  Animation,Comedy

[5 rows x 13 columns]

In [ ]:
df_family_guy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 369 entries, tt0576909 to tt9771020
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   seasonNumber    369 non-null    object
 1   episodeNumber   369 non-null    object
 2   averageRating   369 non-null    float64
 3   numVotes        369 non-null    int64
 4   originalTitle   369 non-null    object
 5   startYear       369 non-null    object
 6   runtimeMinutes  369 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 33.1+ KB

In [ ]:
df_family_guy.drop(columns=['parentTconst','titleType','primaryTitle','isAdult','endYear','genres'],inplace=True)

In [ ]:
df_family_guy.rename(columns={"seasonNumber": "Season", "episodeNumber": "Episode","averageRating": "Average Rating","numVotes": "Votes","originalTitle": "Title","startYear": "Year","runtimeMinutes": "Duration"},inplace=True)

In [ ]:
df_family_guy.head()

          Season Episode  ...  Year  Duration
tconst                    ...
tt0576909      4       8  ...  2005        22
tt0576910      3      10  ...  2001        23
tt0576911      1       5  ...  1999        30
tt0576912      2      11  ...  2000        30
tt0576913      3      16  ...  2001        30

[5 rows x 7 columns]

In [ ]:
df_family_guy.to_excel('IMDB_Family_Guy.xlsx')